MODRINTH_ENABLED=true
MODRINTH_BASE_URL=https://api.modrinth.com/v2
MODRINTH_CONTACT_EMAIL=
MODRINTH_REQUESTS_PER_MINUTE=120

CURSEFORGE_ENABLED=auto
CURSEFORGE_API_KEY=
CURSEFORGE_BASE_URL=https://api.curseforge.com

GITHUB_TOKEN=
NVD_API_KEY=

PROVIDER_PRIORITY=modrinth,curseforge
